<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <stong>Teams</strong>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="http://diverse.irisa.fr/">DiverSE</a></li>
          <li><a href="https://smart-researchteam.github.io/">Sm@rt</a></li>

        </ul>
      </div>
    </div>

    <stong>Projects</strong>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Agile Language Engineering <a href="http://gemoc.org/ale/">ALE</a> (associated with the <a href="https://www.cwi.nl/research/groups/software-analysis-and-transformation">SWAT</a> team)</li>
        </ul>
      </div>
    </div>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {% if site.email %}
            <li>
              <span><img style="height: 15px;" src="{{ site.baseurl }}/assets/icons/envelope-closed.svg" /></span>
              <span><a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </li>
            {% endif %}
            <li style="color: #000">
              <span><img style="height: 15px;" src="{{ site.baseurl }}/assets/icons/phone.svg" /></span>
              <span>+33 299 847 304</span>
            </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
