#ynh-overlay-switch {
  display: none !important;
}

.photo {
  width: 150px;
  float: right;
  display: inline;
  border-radius: 50%;
}

.highlighter-rouge .highlight, code {
  background-color: #ffffff;
}